<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
        <%= f.input :lastname, input_html: { maxlength: 255 } %>
        <%= f.input :email, required: true, input_html: { maxlength: 255 } %>

        <% if ['new', 'create'].include?(action_name) %>
          <%= f.input :password, required: true, input_html: { maxlength: 255 } %>
          <%= f.input :password_confirmation, input_html: { maxlength: 255 } %>
        <% end %>

        <% if can? :assign_roles, @user %>
          <label><%= User.human_attribute_name 'roles', count: 1 %></label>
          <%= show_user_roles_options(f) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h5 style="margin-top: 0;">
        <strong>
          <%= User.human_attribute_name 'jobs', count: @user.jobs.size %>
        </strong>
      </h5>

      <div id="jobs">
        <%= f.simple_fields_for :jobs, user_jobs(@user) do |j_f| %>
          <%= render partial: 'job', locals: { f: j_f } %>
        <% end %>

        <%= link_to_add_fields(t('view.users.new_job'), f, :jobs) unless current_organization %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
    <%= yield :form_actions %>
  </div>
<% end %>
