<% id = f.object.object_id %>
<% if current_organization %>
  <%= f.input :organization_id, as: :hidden, input_html: { value: current_organization.id } %>
<% end %>
<fieldset class="row">
  <% unless current_organization %>
    <div class="col-md-5">
      <%= f.input :organization, as: :autocomplete, label: false, url: organizations_path, input_html: { autofocus: true } %>
    </div>
  <% end %>
  <div class="<%= current_organization ? 'col-md-10' : 'col-md-5' %>">
    <%= show_user_job_options(f) %>
  </div>
  <div class="col-md-2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <% if current_organization.nil? || f.object.organization_id == current_organization.id %>
      <%= link_to_remove_nested_item(f) %>
    <% end %>
  </div>
</fieldset>
