<div class="row">
  <div class="col-md-9">
    <h2><%= @user %></h2>

    <p>
      <%= mail_to @user.email %>
    </p>

    <% if @user.role %>
      <p>
        <%= User.human_attribute_name 'roles', count: 1 %>:
        <strong><%= t("view.users.roles.#{@user.role}") %></strong>
      </p>
    <% end %>

    <% unless @user.jobs.empty? %>
      <h3><%= User.human_attribute_name 'jobs', count: @user.jobs.size %></h3>
      <ul>
        <% @user.jobs.each do |job| %>
          <li>
            <%= t(
              'view.users.job_role.html',
              organization: link_to_if(can?(:read, job.organization), job.organization.name, job.organization),
              role: show_human_job_type(job.job)
            ) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% if can? :read, User %>
  <div class="pull-right">
    <%= link_to t('label.list'), users_path %>
  </div>
<% end %>
<%= link_to t('label.edit'), edit_user_path(@user), class: 'btn btn-primary' if can? :edit, @user %>
<% if can? :create, User %>
  <%= link_to t('view.users.new'), new_user_path, class: 'btn btn-default' %>
<% end %>
