<div id="time_left" class="alert alert-error fade in" data-dismiss="alert" style="display: none;">
  <a class="close">&times;</a>
  <div class="message"></div>
</div>
<%= javascript_tag do %>
  State.showMessages.push({
    time: <%= Devise.timeout_in - 2.minutes %>,
    message: '<%= j render ('devise/sessions/renew_session') %>',
    expired: false
  });

  State.showMessages.push({
    time: <%= Devise.timeout_in %>,
    message: '<h4><%= t('messages.session.time_expired') %></h4>',
    expired: true
  });
<% end %>
