<div id="time_left" class="alert alert-danger alert-dismissable fade in" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="message text-center"></div>
</div>
<%= javascript_tag do %>
  State.showMessages.push({
    time: <%= Devise.timeout_in - 2.minutes %>,
    message: '<%= j render ('devise/sessions/renew_session') %>',
    expired: false
  });

  State.showMessages.push({
    time: <%= Devise.timeout_in %>,
    message: '<strong><%= t('messages.session.time_expired') %></strong>',
    expired: true
  });
<% end %>
