<div class="row-fluid comment">
  <div class="span2">
    <h5><%= Comment.human_attribute_name 'whodunnit' %></h5>
  </div>
  <div class="span6">
    <h5><%= Comment.human_attribute_name 'content' %></h5>
  </div>
  <div class="span2">
    <h5><%= Comment.human_attribute_name 'file' %></h5>
  </div>
</div>

<% comments.each do |comment| %>
  <div class="row-fluid comment">
    <div class="span2">
      <strong><%= User.find(comment.originator) rescue '-' %></strong>
    </div>
    <div class="span6"><%= simple_format comment.content %></div>
    <div class="span2">
      <%= link_to(t('label.download'), comment.file_url) unless comment.file.blank? %>
    </div>
  </div>
<% end %>