<%= simple_form_for(@document, defaults: { input_html: {class: 'span5'} }) do |f| %>
  <div class="row">
    <div class="span6">
      <div class="form-inputs">
        <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
        <%= f.input :code, input_html: { maxlength: 255 } %>
        <%= f.input :version, input_html: { maxlength: 5 } %>
        <%= f.input :file, hint: document_file_identifier(@document) %>
        <%= f.input :file_cache, as: :hidden %>
      </div>
    </div>
    <div class="span6">
      <div class="form-inputs">
        <%= f.input :notes, input_html: { rows: 5 } %>
        <%= f.input :version_comments, input_html: { rows: 5 } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="form-inputs">
        <%= f.input :tag_list, input_html: { class: 'span11' } %>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to(
          Comment.model_name.human(count: @document.comments.size), '#comments',
          data: { toggle: 'tab' }
        ) %>
      </li>
      <li>
        <%= link_to(
          Change.model_name.human(count: @document.changes.size), '#changes',
          data: { toggle: 'tab' }
        ) %>
      </li>
    </ul>

    <div class="tab-content">
      <div id="comments" class="tab-pane active">
        <%= render 'comments', comments: @document.comments.reject(&:new_record?) %>

        <% comment = @document.comments.detect(&:new_record?) || @document.comments.build %>
        <%= f.simple_fields_for :comments, [comment], defaults: { input_html: { class: 'span10' } } do |c_f| %>
          <%= render partial: 'comment', locals: { f: c_f } %>
        <% end %>
      </div>

      <div id="changes" class="tab-pane">
        <%= render 'changes', changes: @document.changes.reject(&:new_record?) %>

        <% change = @document.changes.detect(&:new_record?) || @document.changes.build %>
        <%= f.simple_fields_for :changes, [change], defaults: { input_html: { class: 'span10' } } do |ch_f| %>
          <%= render partial: 'change', locals: { f: ch_f } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.input :parent_id, as: :hidden %>
    <%= render partial: 'shared/hidden_submit', locals: { f: f } %>
    <%= document_actions(f) %>
  </div>
<% end %>
