<%= content_for :form_actions do %>
  <%= link_to t('label.show'), @document %> |
  <%= link_to t('label.list'), documents_path %>
<% end %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to(
      t('view.documents.tabs.data'), '#document_data', data: { toggle: 'tab' }
    ) %>
  </li>
  <li class="active">
    <%= link_to(
      t('view.documents.tabs.document'), '#document_edit', data: { toggle: 'tab' }
    ) %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="document_data">
    <%= render 'form' %>
  </div>
  <div class="tab-pane active" id="document_edit">
    <% document_url = document_edit_url(@document) %>
    <div class="well hidden-desktop">
      <%= link_to t('label.edit'), document_url, class: 'btn btn-primary' %>
    </div>
    <%= content_tag :iframe, 'iframe not supported', src: document_url %>
  </div>
</div>
