<table class="zebra-striped resource-list">
  <thead>
    <tr>
      <th><%= Document.human_attribute_name 'code' %></th>
      <th><%= Document.human_attribute_name 'name' %></th>
      <th><%= Document.human_attribute_name 'status' %></th>
      <th><%= Document.human_attribute_name 'version' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.code, document %></td>
        <td><%= document.name %></td>
        <td><%= document_status_text document %></td>
        <td><%= document.version %></td>
        <td><%= link_to_edit edit_document_path(document) %></td>
        <td><%= link_to_destroy document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@documents) %>

<nav class="actions">
  <%= link_to t('label.new'), new_document_path, class: 'btn primary' %>
</nav>