<div class="row">
  <div class="span12">
    <table class="table resource-list">
      <thead>
        <tr>
          <th><%= Document.human_attribute_name 'code' %></th>
          <th><%= Document.human_attribute_name 'name' %></th>
          <th class="disposable"><%= Document.human_attribute_name 'status' %></th>
          <th class="disposable"><%= Document.human_attribute_name 'version' %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= link_to document.code, document %></td>
            <td><%= document.name %></td>
            <td class="disposable"><%= document_status_text document %></td>
            <td class="disposable"><%= document.version %></td>
            <td><%= link_to_edit edit_document_path(document) %></td>
            <td><%= link_to_destroy document %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= pagination_links(@documents) %>

<nav class="form-actions">
  <%= link_to t('label.new'), new_document_path, class: 'btn btn-primary' %>
</nav>