<ul class="nav nav-tabs">
  <li>
    <%= link_to(
      t('view.documents.tabs.data'), '#document_data', data: { toggle: 'tab' }
    ) %>
  </li>
  <li class="active">
    <%= link_to(
      t('view.documents.tabs.document'), '#document_edit', data: { toggle: 'tab' }
    ) %>
  </li>
</ul>

<div id="document-tabs" class="tab-content">
  <div class="tab-pane" id="document_data">
    <div class="page-header">
      <h1>
        <span class="glyphicon glyphicon-file"></span> <%= @document %>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <strong><%= Document.human_attribute_name 'status' %>:</strong>
          <%= document_status_text(@document) %>
        </p>

        <p>
          <strong><%= Document.human_attribute_name 'version' %>:</strong>
          <%= @document.version %>
        </p>

        <p>
          <strong><%= Document.human_attribute_name 'kind' %>:</strong>
          <%= t("view.documents.kinds.#{@document.kind}") %>
        </p>

        <p>
          <strong><%= Document.human_attribute_name 'notes' %>:</strong>
        </p>
        <%= simple_format @document.notes %>

        <p>
          <strong><%= Document.human_attribute_name 'version_comments' %>:</strong>
        </p>
        <%= simple_format @document.version_comments %>
      </div>

      <div class="col-md-6">
        <% unless @document.tags.empty? %>
          <h3><%= Document.human_attribute_name 'tag_list' %></h3>
          <ul>
            <% @document.tags.each do |tag| %>
              <li>
                <h5>
                  <span class="label label-default"><%= tag %></span>
                </h5>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if @document.parent %>
          <h3><%= Document.human_attribute_name 'parent' %></h3>
          <%= link_to_related_document @document.parent %>
        <% end %>

        <% unless @document.children.empty? %>
          <h3>
            <%= Document.human_attribute_name 'children', count: @document.children.size %>
          </h3>
          <ul>
            <% @document.children.each do |child| %>
              <li><%= link_to_related_document child %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <% unless @document.comments.empty? %>
      <div class="page-header">
        <h3><%= Comment.model_name.human count: @document.comments.size %></h3>
      </div>
      <%= render 'comments', comments: @document.comments %>
    <% end %>

    <% unless @document.changes.empty? %>
      <div class="page-header">
        <h3><%= Change.model_name.human count: @document.changes.size %></h3>
      </div>
      <%= render 'changes', changes: @document.changes %>
    <% end %>

    <br />
    <% main_action = link_to(
      t('label.edit'), edit_document_path(@document), class: 'btn btn-primary'
    ) if can? :update, @document %>
    <%= document_context_actions(@document, main_action) %>
    <%= link_to t('label.list'), documents_path if can? :read, Document %>
  </div>
  <div class="tab-pane active" id="document_edit">
    <% if @document.spreadsheet? %>
      <div class="alert">
        <%= t(
          'view.documents.preview_not_supported.html',
          download_pdf_link: link_to_download_pdf(@document, use_text: true),
          download_source_link: link_to_download_source_document(@document, use_text: true)
        ) %>
      </div>
    <% else %>
      <%= content_tag(:iframe, 'iframe not supported', src: document_preview_url(@document)) %>
    <% end %>
  </div>
</div>
