<% if @organizations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Organization.human_attribute_name 'name' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @organizations.each do |organization| %>
            <tr>
              <td><%= link_to_if current_user.has_job_in?(organization), organization, root_url(subdomain: organization.identification) %></td>
              <td><%= link_to_show organization if can? :read, organization %></td>
              <td><%= link_to_edit edit_organization_path(organization) if can? :update, organization %></td>
              <td><%= link_to_destroy organization if can? :destroy, organization %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@organizations) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.organizations.new', default: :'label.new'),
    new_organization_path, class: 'btn btn-primary'
  ) if can? :create, Organization %>
</nav>
