<% if @organizations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-condensed resource-list">
    <thead>
      <tr>
        <th><%= Organization.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= link_to_if current_user.has_job_in?(organization), organization, organization_url(organization) %></td>
          <td><%= link_to_edit edit_organization_path(organization) if can? :update, organization %></td>
          <td><%= link_to_destroy organization if can? :destroy, organization %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pagination_links(@organizations) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.organizations.new', default: :'label.new'),
    new_organization_path, class: 'btn btn-primary'
  ) if can? :create, Organization %>
</div>
